.container {
  width: 80%;
  height: 100vh;
  background-image: url(../../../assets/image/nicholas-green-324622-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}