#postInput {
  margin-top: 10%;

}

section {
  display: flex;
  justify-content: center;
  padding: 5% 30%;
  flex-direction: column;

}

.sendHeart {
  align-self: flex-end
}

#button-addon1 {
  margin: 1% 0%;
}
