.container {
  width: 80%;
  height: 100vh;
  background-image: url(../../../assets/image/nicholas-green-324622-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.btn-facebook, .btn-twitter, .btn-google {
  width: 32%;
}

.btn-facebook {
  background: #3b5998;
  color: #fff;
}

.btn-google {
  background: #dd4b39;
  color: #fff;
}

.btn-twitter {
  background: #55acee;
  color: #fff;
}