.image {
  width: 90%;
  height: 70vh;
  background-image: url(../../../assets/image/mapa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}