.image {
  width: 90%;
  height: 60vh;
  background-image: url(../../../assets/image/images.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
}